*,
*::before,
*::after {
    box-sizing: border-box;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
}

a.evitement {
    display: inline-block;
    color: #555;
    background: #fff;
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;
}

a.evitement:focus {
    left: 0;
}


/* Set up snapping behavior on the body or the container of the sections */
body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /* Ensure vertical scrolling */
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    /* Remove default margin */
}

section {
    scroll-snap-align: start;
    height: 100vh;
}

section.ponctualite {
    background-color: #A1C5DD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-container {
    width: 130px;
    background-color: rgb(255, 255, 255 , 0.4);
    border-radius: 10px;
    padding: 5px;
}

button {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin: 4px;
    border: none;
    background-color: transparent;
}

.chart-container {
    width: 800px;
    height: 400px;
    background-color: rgb(255, 255, 255 , 0.4);
    border-radius: 20px;
    padding: 10px;
}

#toggleLigneA {
    background-image: url('images/logosLignes/rerALogoCouleur.png');
}

#toggleLigneB {
    background-image: url('images/logosLignes/rerBLogoCouleur.png');
}

#toggleLigneC {
    background-image: url('images/logosLignes/rerCLogoCouleur.png');
}

#toggleLigneD {
    background-image: url('images/logosLignes/rerDLogoCouleur.png');
}

#toggleLigneE {
    background-image: url('images/logosLignes/rerELogoCouleur.png');
}

#toggleLigneH {
    background-image: url('images/logosLignes/TransilienHLogoCouleur.png');
}

#toggleLigneJ {
    background-image: url('images/logosLignes/TransilienJLogoCouleur.png');
}

#toggleLigneK {
    background-image: url('images/logosLignes/TransilienKLogoCouleur.png');
}

#toggleLigneL {
    background-image: url('images/logosLignes/TransilienLLogoCouleur.png');
}

#toggleLigneN {
    background-image: url('images/logosLignes/TransilienNLogoCouleur.png');
}

#toggleLigneP {
    background-image: url('images/logosLignes/TransilienPLogoCouleur.png');
}

#toggleLigneR {
    background-image: url('images/logosLignes/TransilienRLogoCouleur.png');
}

#toggleLigneU {
    background-image: url('images/logosLignes/TransilienULogoCouleur.png');
}

#toggleLigneL {
    background-image: url('images/logosLignes/TransilienLLogoCouleur.png');
}

#toggleGeneral {
    background-image: url('images/logosLignes/GeneralLogoCouleur.png');
}