/* Occupation */

.tableauOccupation{
    font-size: 1.25rem;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px 0 rgba(0, 56, 101, 0.05);
}

.ligneOccupation{
    display: flex;
    align-items: center;
}

.logoOccupation{
    margin-right: 20px;
}

.anneeOccupation{
    width: 60px;
}
.separationOccupation{
    margin-right: 10px;
}

.categorieOccupation{
    width: 120px;
}

.pourcentageOccupation{
    margin-left: 5px;
    width: 50px;
}

.tableauOccupation img{
    height: 30px;
}

.controlesOccupation{
    display: flex;
    justify-content: center;
}

.controlesOccupation button{
    background-color: white;
    border: none;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 100px 0 rgba(0, 56, 101, 0.05);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.controlesOccupation button:hover{
    cursor: pointer;
    border: #003865 solid 3px;
}

.occupationFiller img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#occupationLignePrecedente {
    background-image: url('images/svg/fleche-gauche-dark.svg');
}

#occupationLigneSuivante {
    background-image: url('images/svg/fleche-droite-dark.svg');
}