/* Ponctualité */


.button-container-ponctualite {
    width: 145px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 100px 0 rgba(0, 56, 101, 0.05);
}

.button-container-ponctualite button {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin: 4px;
    border: none;
    background-color: transparent;
}

.button-container-ponctualite button:hover {
    cursor: pointer;
}

.chart-container-ponctualite {
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 100px 0 rgba(0, 56, 101, 0.05);
}

#toggleLigneA {
    background-image: url('images/logosLignes/ligneaLogo.png');
}

#toggleLigneB{
    background-image: url('images/logosLignes/lignebLogo.png');
}

#toggleLigneC{
    background-image: url('images/logosLignes/lignecLogo.png');
}

#toggleLigneD{
    background-image: url('images/logosLignes/lignedLogo.png');
}

#toggleLigneE{
    background-image: url('images/logosLignes/ligneeLogo.png');
}

#toggleLigneH{
    background-image: url('images/logosLignes/lignehLogo.png');
}

#toggleLigneJ{
    background-image: url('images/logosLignes/lignejLogo.png');
}

#toggleLigneK{
    background-image: url('images/logosLignes/lignekLogo.png');
}

#toggleLigneL{
    background-image: url('images/logosLignes/lignelLogo.png');
}

#toggleLigneN{
    background-image: url('images/logosLignes/lignenLogo.png');
}

#toggleLigneP{
    background-image: url('images/logosLignes/lignepLogo.png');
}

#toggleLigneR{
    background-image: url('images/logosLignes/lignerLogo.png');
}

#toggleLigneU{
    background-image: url('images/logosLignes/ligneuLogo.png');
}

#toggleGeneral{
    background-image: url('images/logosLignes/generalLogo.png');
}