*,
*::before,
*::after {
    box-sizing: border-box;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
}

a.evitement {
    display: inline-block;
    color: #555;
    background: #fff;
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;
}

a.evitement:focus {
    left: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    margin: 0;
    font-family: "Teachers", sans-serif;
    position: relative;
    min-width: 1200px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #FDFDFD;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    padding-top: 100px;
}

.title{
    margin-left: 40px;
    font-size: 1.5rem;
    max-width: 1280px;
}

.chartAndControls{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    max-width: 1280px;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 94%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 90px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    box-shadow: 0 0 10px 0 rgba(0, 56, 101, 0.2);
    max-width: 1280px;
    min-width: 700px;
}

.topbar img {
    height: 70px;
    margin-left: 10px;
}

.topbar-liens{
    font-size: 1.15rem;
    margin-right: 30px;
    padding-bottom: 15px;
}

.topbar-liens a{
    color: #003865;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.topbar-liens a:hover{
    border-bottom: #003865 5px solid;
}

section.ponctualite, section.deprogrammation, section.occupation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.filler img{
    width: 100%;
}

.filler p{
    margin: 20px;
}

.filler{
    width: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 100px 0 rgba(0, 56, 101, 0.05);
}

#infos {
    background-color: #A1D6CA;
    padding-top: 140px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.infosImg{
    height: 90%;
    margin-right: 80px;
}

h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #154734;
    padding-right: 40px;
}

#infos p{
    font-size: 1.25rem;
    color: #154734;
    padding-right: 40px;
}

.infos-blabla img{
    height: 30px;
}

#footer{
    height: 250px;
}

footer{
    height: 100%;
    background-color: #154734;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img{
    height: 100%;
    margin-right: 80px;
}

footer a{
    color: #A1D6CA;
    font-size: 1.25rem;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

#mentionslegales{
    padding: 40px;
    height: 100vh;
}

#mentionslegales h1{
    margin: 0px;
    color: #000;
}

#mentionslegales a{
    color: #DC582A;
}

.titreMentionsLegales{
    display: flex;
    align-items: center;
}

.titreMentionsLegales a{
    margin-right: 40px;
}

.titreMentionsLegales img{
    height: 40px;
}

#contenu {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; 
}