*,
*::before,
*::after {
    box-sizing: border-box;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
}

a.evitement {
    display: inline-block;
    color: #555;
    background: #fff;
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;
}

a.evitement:focus {
    left: 0;
}


body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    margin: 0;
    font-family: "Teachers", sans-serif;
    background-color: #ACD4CA;
}

section {
    scroll-snap-align: start;
    height: 100vh;
}

@media screen and (min-width: 1281px) {
    section {
        padding-left: 10%;
        padding-right: 10%;
    }
}